.line {
    height: 2px;
    width: 6rem;
    background-color: #FF6551;
}

.learnMore {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    color: #FF6551;
}

.ClientMatterSection {
    background-color: #fff;
    color: #252b42;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 7rem 0;
}

.ClientMatterSectionContent{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 70%;
}

.ClientMatterSectionRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    width: 35%;
    height: 40%;
}

@media screen and (max-width:768px) {
    .ClientMatterSectionContent {
        display: flex;
        padding: 3rem;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }

    .thumbImage{
        width: 100%;
    }

    .ClientMatterSectionRight{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        height:30%;
    }
}

@media screen and (max-width:450px) {
    .ClientMatterSectionContent{
        width: 95%;
        height: auto;
    }

    .thumbImage{
        height: 70%;
        width: 100%;
    }
}