.ConnectSection{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.ConnectSectionContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 7rem 0;
    gap: 4rem;
}

.users{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 1.5rem;
}
.team{
    text-align: left;
}

.team h1 {
    color: #252b42;
}

.greyText{
    color: grey;
}

.pinkText{
  color: #FF6551;
}

@media screen and (max-width:800px) {
    .ConnectSection{
        height: auto;
        padding: 3rem;
        align-items: center;
    }
    .users{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:500px) {
    .users{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}