.footerContent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  white-space: nowrap;
}

footer a, footer p{
  color: #737373;
}

.footerSection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
}

.footerSection ul {
  padding: 0.3rem 0;
}

.footerSection ul li {
  padding: 0.2rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.footerSection h2,
.footerSection ul {
  margin: 0;
}

.socialMediaHandle {
  display: flex;
  gap: 1rem;
}

.lastFooterSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}

.Icon {
  color: #e74040;
  height: 24px;
  width: 24px;
}

@media screen and (max-width:768px) {
  .footerContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:500px) {
  .footerContent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}