.heroSpace{
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images//hero-2-cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.heroContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.3rem;
    width: 20rem;
}

.heroContent h1, .heroContent p{
    color: #fff;
    z-index: 1
}

.heroContent h1{
   font-size: 2.5rem;
}

.heroContent p{
    font-size: 1rem;
}

@media screen and (width:768px) {
    .heroContent h1{
        font-size: 2.0rem;
    }
}
