.heroSpace{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("../assets/images//hero-2-cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.heroContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.3rem;
    max-width: 100vw;
    padding: 17% ;
}

.heroContent h1, .heroContent p{
    color: #fff;
    z-index: 9;
}

.heroContent h1{
   font-size: 2.5em;
}

.heroContent p{
    font-size: 1rem;
}

@media screen and (width:768px) {
    .heroContent{
        padding:20rem 2rem;
    }
    .heroContent h1{
        font-size: 2.0em;
    }
}

@media screen and (width:460px) {
    .heroContent{
        gap: 1rem;
        max-width: 100vw;
        padding: 17rem;
    }
    .heroContent h1{
        font-size: 0.5rem;
    }
}