.navbar,
.navLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.1px;
  width: 100%;
}

button {
  display: none;
}


.navLink {
  width: 80%;
}


.navLink ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navLink ul li a{
  color: #fff;
  font-weight: normal;
}



@media screen and (max-width:800px) {
  .navLink {
    display: none;
  }

  button {
    padding: 0.25rem 0.75rem;
    font-size: 1.5rem;
    line-height: 1rem;
    display: block;
    align-self: center;
    border-radius: 5px;
    border: 1px solid transparent;
  }
}