.connectCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    width: 15.5rem;
    border-radius: 2rem;
    box-shadow: 19px 27px 22px 12px rgba(0,0,0,0.1);
}

@media screen and (max-width:768px) {
  .connectCard{
    width: 17rem;
  }
}

.connectCard img{
 width: 100%;
 height: 80%;
 border-radius: 2rem;
}

.cardContent p{
  color: grey;
}

.cardContent ul{
    display: flex;
    gap: 1rem;
}

.cardContent ul li{
  color: #FF6551;
  width: 2rem;
  font-size: 1.5rem;
}